  <!-- footer section start  -->
  <footer id="footer" class="footer">
    <div class="footerWrapper defaultPadding">
      <div class="container">
        <div class="row">
          <!-- Company Info -->
          <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
            <a class="footer-brand" href="index.html">
              <img loading="lazy" src="image/Home/InterioStyleLogo.png" alt="Interio Style">
            </a>
            <p>
              A customised interior design solution provider that enables you to get the renovations the way you want and not enforced upon you.
            </p>
            <div class="social-links">
              <span>We are on:</span> <a href="https://www.facebook.com/theinteriostyle"> <i class="fa-brands fa-square-facebook"></i></a> <a href="https://www.youtube.com/channel/UC_h_ESwXWFSgpGO4l29J2sQ"><i class="fa-brands fa-youtube"></i></a> <a href="https://www.instagram.com/theinteriostyle/"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
          </div>
      
          <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
            <h5 class="fourthH centerStyle">SERVICES</h5>
            <ul>
              <li>
                <a href="services.html"><i class="fa-solid fa-circle-chevron-right"></i>Commercial Spaces</a>
              </li>
              <li>
                <a href="services.html"><i class="fa-solid fa-circle-chevron-right"></i>Shops & Showrooms</a>
              </li>
              <li>
                <a href="services.html"><i class="fa-solid fa-circle-chevron-right"></i>Restaurants & Cafes</a>
              </li>
              <li>
                <a href="services.html"><i class="fa-solid fa-circle-chevron-right"></i>Turnkey Projects</a>
              </li>
              <li>
                <a href="services.html"><i class="fa-solid fa-circle-chevron-right"></i>Duplex & Villa Spaces</a>
              </li>
              <li>
                <a href="services.html"><i class="fa-solid fa-circle-chevron-right"></i>Project Consultancy</a>
              </li>
             
            </ul>
          </div>
      
      
          <!-- Contact Info -->
          <div class="col-lg-3 col-sm-6 emailSec">
            <h5 class="fourthH centerStyle">Reach Us</h5>
      
            <ul class="contact-info">
              <li>
                <h6>Address</h6>
                <a class="locationLink" target="_blank" href="https://maps.app.goo.gl/edK74nHGrBK76MKg7">
                  405 - Neptune Edge, Neptune Campus, Dr. Vikram Sarabhai Marg, Vadiwadi, Vadodara, Gujarat 390007.
                  </a>
              </li>
              <li>
                <h6>PHONE</h6>
                <a href="tel:+91 8780486659">+91 - 87804 86659</a>
              </li>
              <li>
                <h6>EMAIL</h6>
                <a class="emailAnchor" href="mailto:inquiry@interiostyle.co.in">inquiry@interiostyle.co.in</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="f-bottom effect">
      <div class="container">
        <div class="row ">
          <div class="col-12">
            <div class="inner">
              <div class="copyright text-center">
                2025 All Rights Reserved by Interio Style | Developed by
                <a href="http://www.shriiitrackingsolution.com/" target="_blank"><b>Shriii Tracking Solution</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- footer section end  -->