<div class="footerWrapper defaultPadding">
  <div class="container">
    <div class="row">
      <!-- Company Info -->
      <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
        <a class="footer-brand" href="index.html">
          <img loading="lazy" src="image/Sang_Nidhi_LOGO_White.webp" alt="Sang Nidhi">
        </a>
        <p>
          Sang Nidhi brings you the latest modern fashion trends with elegance and style. Discover premium designs crafted for every occasion.
        </p>
      
      </div>
  
      <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
        <h5 class="fourthH centerStyle">SERVICES</h5>
        <ul>
          <li>
            <a href="#">Website Page 1</a>
          </li>
          <li>
            <a href="#">Website Page 2</a>
          </li>
          <li>
            <a href="#">Website Page 3</a>
          </li>
          <li>
            <a href="#">Website Page 4</a>
          </li>
          <li>
            <a href="#">Website Page 5</a>
          </li>
          
        </ul>
      </div>
  
  
      <!-- Contact Info -->
      <div class="col-lg-3 col-sm-6 emailSec">
        <h5 class="fourthH centerStyle">Contact Us</h5>
  
        <ul class="contact-info">
          <li>
            <h6>PHONE</h6>
            <a href="tel:+91 7990909711">+91 799 090 9711</a>
          </li>
          <li>
            <h6>EMAIL</h6>
            <a class="emailAnchor" href="mailto:sangNidhi434@gmail.com">sangNidhi434@gmail.com</a>
          </li>
          <li>
            <div class="social-links">
              <a href="https://www.facebook.com/theinteriostyle"> <i class="fa-brands fa-square-facebook"></i></a> <a href="https://www.youtube.com/channel/UC_h_ESwXWFSgpGO4l29J2sQ"><i class="fa-brands fa-youtube"></i></a> <a href="https://www.instagram.com/theinteriostyle/"><i class="fa-brands fa-square-instagram"></i></a>
              </div>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>


<div class="f-bottom effect">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <div class="inner">
          <div class="copyright text-center">
            2025 All Rights Reserved by संग Nidhi | Developed by
            <a href="http://www.shriiitrackingsolution.com/" target="_blank"><b>Shriii Tracking Solution</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>